<div class="main-layout-wrapper">
    <div class="calendar-menu-card">
        <aside>
            <app-calendar></app-calendar>
        </aside>
    </div>

    <div class="todos-main">
        
        <div class="list-container">
            @if (todosService.loadingItems()) {
                <p class="loading-message">A carregar licitações do servidor...</p>
            } @else {
                
                @for(item of todosService.items(); track item._id; let i = $index) {
                    <div class="licitacao-item" title="Item de Licitação">
                        
                        <span class="item-index">
                            {{ i + 1 }}.
                        </span>

                        <div class="item-status">
                            <span [class.line-through]="item.completed"></span>
                            
                            @if (item.completed) {
                                <span class="status-completed">Concluído</span>
                            } @else {    
                                <span class="status-pending">Pendente</span>
                            }
                        </div>

                        <div class="item-actions">
                            <button 
                                class="btn-icon btn-toggle"
                                (click)="todosService.toggle(item._id)">
                                <span>&#10003;</span>
                            </button>
                            
                            <button 
                                class="btn-icon btn-remove"
                                (click)="todosService.remove(item._id)">
                                X
                            </button>
                        </div>

                    </div>
                } @empty {
                    <p class="empty-message">Nenhuma licitação encontrada.</p>
                }
            }
        </div>
        
        <div class="add-container">
            <div *ngIf="auth.getRolesFromToken().includes('admin') || auth.getRolesFromToken().includes('autoridade competente')">
                <button
                    class="btn-primary" 
                    (click)="openForm()"
                    [disabled]="todosService.loadingUsers()" >
                    + Nova Licitação
                </button>
                @if (todosService.loadingUsers()) {
                    <span>A carregar utilizadores...</span>
                }
            </div>
        </div>
    </div>
    
    @if (isModalOpen()) {
        <div class="modal-overlay">
            <div class="modal-card">
                <h2>Nova Licitação</h2>
                
                <form [formGroup]="licitacaoForm" (ngSubmit)="onSubmit()">
                    
                    <div class="form-group">
                        <label for="tituloLicitacao">Nome da Licitação (Apenas Caractéres) *</label>
                        <input 
                            id="tituloLicitacao" 
                            type="text" 
                            formControlName="tituloLicitacao"
                            placeholder="Ex: Reforma do Prédio A"
                            pattern="[A-Za-z]">
                    </div>

                    <div class="form-group">
                        <label for="msg">Descricao</label>
                        <textarea 
                            id="msg" 
                            formControlName="descricao"
                            placeholder="Escreva uma descricao para o responsável"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="resp">Usuário Responsável</label>
                        <select 
                            id="resp" 
                            formControlName="idResponsavel">
                            <option value="" disabled selected>Selecione um usuário</option>
                            @for (user of todosService.usersDoMesmoOrgao(); track user._id) {
                                <option [value]="user._id">{{ user.nome }}</option>
                            }
                        </select>
                    </div>

                    <div class="form-actions">
                        <button 
                            type="button" 
                            class="btn-secondary"
                            (click)="closeForm()">
                            Cancelar
                        </button>
                        <button 
                            type="submit"
                            class="btn-submit" 
                            [disabled]="licitacaoForm.invalid">
                            Salvar
                        </button>
                    </div>

                </form>
            </div>
        </div>
    }
</div>