<div class="login-container">
    <div class="card photo-card">
        <img src="assets/logo_projeto.png" alt="Imagem do logo da empresa">
        <p class="project-name">a concorde interprise</p>
    </div>
    <div class="card login-card">
        <form>
            <input [(ngModel)]="loginUserData.username" type="text" id="user" name="user" class="loginform" placeholder="Usuário...">
            <input [(ngModel)]="loginUserData.password" type="password" id="password" name="password" class="loginform" placeholder="Senha...">
            <input (click)="loginUser()" type="submit" class="entrar" value="Entrar">
            <button
                onclick="window.location.href='https://sso.staging.acesso.gov.br/authorize?response_type=code&client_id=aplicacao-exemplo-php&scope=openid%20profile%20email%20phone%20govbr_confiabilidades&redirect_uri=http://localhost:8080/redirect-uri.php&state=ABCDEF&nonce=123456&code_challenge=<?php echo $codeChallenge; ?>&code_challenge_method=S256'"
                class="gov-br-button">
            Entrar com gov.br
            </button>
            <div class="forgot-password">
                <span class="snh">Esqueceu a senha? <a href="">Clique aqui</a></span>
            </div>
        </form>
    </div>
</div>
