<nav>
    <ul>
        <li *ngIf="_auth.loggedIn()">Bem-vindo, {{ _auth.getUserNameFromToken() }}! Cargo: {{ _auth.getRolesFromToken() }}</li>

        <app-menu-item label="Inicio" route="/"></app-menu-item>

        <app-menu-item *ngIf="!_auth.loggedIn()" label="Login" route="login"></app-menu-item>
        <app-menu-item *ngIf="_auth.loggedIn()" label="Logout" route="/" (click)="_auth.logOut()"></app-menu-item>

        <app-menu-item label="Registrar" route="register"></app-menu-item>
        
        <app-menu-item label="Tarefas" route="todos"></app-menu-item>
        <app-menu-item label="Licitações" route="licitacoes"></app-menu-item>
        <app-menu-item label="Minhas Licitações" route="minhaslicitacoes"></app-menu-item>
        <app-menu-item label ="Fase Interna" route = "faseinterna"></app-menu-item> <!-- colocar aqui restrito para equipe de planjemento e adm -->
    </ul>
</nav>
